<div class="video {{modeClassNameLocal}}">
    <div [class.mobile-mode]="isMobile" class="video-top-bar">
        <div class="d-flex justify-content-between">
            <div class="name-container" [class.mode-6-name]="activeVideoNumber > 4">
                <img src="assets/img/avatar.jpg" alt="">
                <span
                    [style.display]="(modeClassNameLocal=='mobile-video-mode-2' || recordingStatus) ? 'none' : 'inline'">{{user.name}}</span>
            </div>
            <!-- recording component -->
            <app-recording [isMobile]="isMobile" [activeVideoNumber]="activeVideoNumber"
                (recordingStatusNotify)="recordingStatusClick($event)"></app-recording>
            <!-- recording component end -->
        </div>
    </div>
    <img class="video-call-wrapper" src="{{user.image}}" alt="">
    <!-- call actions component -->
    <app-call-actions *ngIf="hostUser"></app-call-actions>
    <!-- call actions component end -->

    <!-- video bottom bar component -->
    <app-video-bottom-bar *ngIf="!hostUser" [isMobile]="isMobile" [modeClassName]="modeClassNameLocal"
        [activeVideoNumber]="activeVideoNumber"></app-video-bottom-bar>
    <!-- video bottom bar component end -->
</div>