.video-bottom-bar{
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    padding: 0px 18px 16px 16px;
    .video-bottom-bar-wrapper{
        width: 120px;
        background-color: rgba(0, 0, 0, 0.203);
        border-radius: 25px;
        color: white;
        backdrop-filter: blur(4px);
        padding: 10px;
        overflow: hidden;
        transition: width 400ms ease-in-out, height 400ms ease-in-out;
        .sound-icon, .subtitle-control-btn{
            color: white;
            border-radius: 10px;
            height: max-content;
        }
        .sound-icon{
            background-color: #ffffff36;
            padding: 5px 10px 4px 10px;
            margin-right: 8px;
        }
        .sound-icon svg{
            width: 30px;
        }
        @keyframes fadeIn {
            0% { margin-bottom: -300px; }
            100% { margin-bottom: 0; }
        }
        .subtitle-container{
            height: 0;
            width: 0;
            overflow: hidden;
            transition: opacity .8s ease-out;
            opacity: 0;
            label{
                font-size: 10px;
            }
        }
        .subtitle-control-btn{
            padding: 5px 10px 10px 10px;
            background-color: #feae4f;
            transition: background-color .1s ease-out;
            svg{
                width: 20px;
            }
        }

    }
}
.mode-6 .video-bottom-bar-wrapper{
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    .sound-icon{
        border-radius: 6px;
        padding: 0px 6px 0px 5px;
        margin-right: 5px;
        svg{
            width: 20px;
            margin-bottom: 3px;
        }
    }
    .subtitle-container{
        label{
            font-size: 9px;
        }
        p{
            font-size: 12px;
        }
    }
    .subtitle-control-btn{
        border-radius: 5px;
        padding: 0px 4px 2px 4px;
        svg{
            width: 15px;
            margin-bottom: 3px;    
        }
    }
}
.subtitle-enabled{
    width: 100% !important;
    .subtitle-container{
        opacity: 1 !important;
        height: 100px !important;
        animation: fadeIn .5s !important;
        width: auto !important;
    }
}