<app-preloader *ngIf="!loaderHidden" [title]="loaderTitle" (loadedEvent)="checkLoaded($event)"
    [apiResponded]="apiResponded" [windowLoaded]="windowLoaded"></app-preloader>

<div [class.d-none]="!loaderHidden" class="main-container">

    <!-- navbar -->
    <nav class="navbar d-flex justify-content-between">
        <div>
            <!-- <img class="logo" src="assets/img/logo.png" alt=""> -->
        </div>
        <div class="nav-btn">
            <a *ngIf="!token" routerLink="/login" class="vision-btn vision-btn-dark btn-login">Login</a>
            <a *ngIf="!token" routerLink="/signup" class="vision-btn vision-btn-dark btn-signup">Signup</a>
            <a *ngIf="token" [routerLink]="isMobile ? '/profile' : null" (click)="!isMobile && open(profile)"
                class="profile-avatar-btn">
                <img [src]="imageUrl || 'assets/img/avatar-skeleton.png'" alt="">
            </a>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- landing page -->
    <div class="container landing-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-center vh-100 right-container">
                    <div class="d-flex align-items-center justify-content-center">
                        <img *ngIf="!isMobile" class="img-engine vert-move" src="assets/img/bg.png" alt="">
                        <img *ngIf="isMobile" class="img-engine vert-move" src="assets/img/bg-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 order-sm-first">
                <div class="d-flex align-items-center vh-100 left-container">
                    <div>
                        <h1 class="landing-title">
                            Vision
                        </h1>
                        <h1 class="landing-title" style="margin-top: -60px;">
                            Engine.
                        </h1>
                        <h4 class="landing-sub">
                            Experience our cutting-edge video conference platform, where seamless communication is just
                            a click away.
                        </h4>
                        <div class="btn-container">
                            <div class="" style="margin-top: 50px;">
                                <a href="/room" class="btn btn-warning landing-btn">Start a new conference
                                    <svg style="margin-left: 7px; margin-bottom: 2px" xmlns="http://www.w3.org/2000/svg"
                                        width="17" height="17" fill="currentColor" class="bi bi-plus-lg"
                                        viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="btn-container-right">
                                <p>
                                    <mat-form-field appearance="outline">
                                        <mat-label class="mat-label">Enter meeting url</mat-label>
                                        <input matInput placeholder="Placeholder">
                                        <mat-icon matSuffix>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                                <path
                                                    d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                                                <path
                                                    d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
                                            </svg>
                                        </mat-icon>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- landing page end -->

    <!-- profile modal -->
    <div class="profile-modal-container">
        <ng-template #profile let-modal>
            <div class="modal-header">
                <a class="modal-back" (click)="modal.dismiss('Cross click')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                </a>
                <span>Profile</span>
                <a class="modal-option">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-three-dots"
                        viewBox="0 0 16 16">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                    </svg>
                </a>
            </div>
            <div class="modal-body">
                <app-profile></app-profile>
            </div>
        </ng-template>
    </div>
    <!-- profile modal end -->

</div>