// spinner
.spinner-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1060;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.084);
  ::ng-deep .spinner {
    width: 50px !important;
  }
  ::ng-deep
    .mat-mdc-progress-spinner
    .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #7d7e80;
  }
}
// spinner end

// navbar
.navbar-2 {
  padding: 20px 10px 5px 40px;
  a {
    display: flex;
    color: black;
  }
  .logo-wrapper {
    img {
      width: 40px;
      height: 40px;
    }
  }
  .title {
    margin: 10px 0px 0px 10px;
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
// navbar end

// form page left container
.form-left-container {
  padding: 75px 0px 130px 85px;
  .form-wrapper {
    h1 {
      font-size: 45px;
      font-weight: 600;
    }
    label:nth-child(1) {
      font-size: 15px;
      font-weight: 500;
      color: #95979b;
      margin-bottom: 10px;
    }
    .already-have {
      color: #9fa3a9;
      font-weight: 400;
      font-size: 14px;
      margin-top: 7px;
      a {
        font-weight: 500;
        color: #2b97f6;
        margin-left: 5px;
      }
    }
  }
}
// form page left container end

// form page right container
.form-right-container {
  padding: 0px 0px 0px 0px;
  position: relative;
  overflow: hidden;
}
// form page right container end

// signup-image
.signup-image-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -10;
}
.signup-image {
  // width: 70%;
  height: 100vh;
}
.line-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line {
  width: 100vh;
  height: 2px;
  overflow: hidden;
  transform: rotate(90deg);
}

.line::before {
  content: "";
  display: block;
  padding: 0 12px;
  margin: 0 -12px;
  border-bottom: 2px dashed #ccc;
}
// signup-image end

// common input field
.common-form {
  margin-top: 30px;
  position: relative;
}
.common-form-control {
  width: 70%;
}
.common-form-footer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.common-form-btn {
  border-radius: 25px;
  padding: 13px 40px;
  font-size: 13px;
}
.common-form-btn-submit {
  background-color: #1d90f5;
  color: white;
}
.common-form-btn-method {
  background-color: #f3f6fb;
  color: #94979d;
}
.password-hide {
  color: black;
  margin-right: 10px;
}
.file-input-field {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f3f6fb;
  border-radius: 15px;
  padding: 17px 23px 17px 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 30px;
  border: 1.5px dashed #2b97f6;
  svg {
    margin-top: 4px;
    color: #95979b;
  }
}

::ng-deep mat-icon {
  color: #95979b;
  transform: scale(0.85);
  margin-right: 10px;
}
::ng-deep
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-floating-label {
  font-size: 15px;
  font-family: "Poppins";
}
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  font-size: 15px !important;
}
::ng-deep .mat-mdc-form-field {
  width: 100%;
}
::ng-deep .mat-mdc-form-field-required-marker {
  display: none;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f3f6fb;
  border-radius: 15px;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):focus-within {
  border: 2px solid #1d90f5;
  background-color: white;
}
::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled):focus-within
  mat-icon {
  color: #1d90f5;
}
::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: unset;
}
::ng-deep .mdc-line-ripple {
  display: none;
}
::ng-deep
  .mdc-text-field--focused:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: #1d90f5;
  font-size: 14px;
  margin-top: -4px;
}
::ng-deep .mat-form-field-invalid mat-icon {
  color: #f44336;
}
::ng-deep .mat-mdc-form-field-error {
  margin-top: -3px;
  font-size: 11px;
}
// common input field end

// change method
.login-methods {
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #f3f6fb;
  padding: 10px;
  border-radius: 25px;
  width: 70%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  .login-method {
    margin: 0px 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 25px;
    img {
      width: 30px;
    }
    svg {
      width: 30px;
      color: #1d90f5;
    }
  }
}
.login-methods-active {
  opacity: 1;
  transform: translateX(0px);
}
// change method end

// profile picture modal
::ng-deep .modal-dialog {
  width: 400px;
  .modal-content {
    border-radius: 20px;
    padding: 8px;
    // height: 360px;
    position: relative;
  }
  .modal-header,
  .modal-footer {
    border-bottom: none;
    border-top: none;
  }
  .modal-title {
    font-size: 19px;
  }
  .modal-body {
    padding: 15px;
    margin-bottom: 44px;
    .upload-image {
      color: #1d90f5;
      padding: 10px;
      border-radius: 15px;
      border: 1.5px dashed #1d90f5;
      background-color: #1d90f519;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: height 0.3s ease;
      svg {
        width: 50px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
    .upload-image-active {
      height: 125px;
      svg {
        display: none;
      }
    }
    .uploading-box {
      opacity: 0;
      display: none;
      margin-top: 10px;
      background-color: #f3f6fb;
      border-radius: 10px;
      padding: 10px;
      transform: translateY(5px);
      transition: transform 0.3s ease, opacity 1s ease;
      span {
        font-size: 14px;
        font-weight: 500;
      }
      h6 {
        font-size: 12px;
      }
      svg {
        margin-top: -26px;
        width: 14px;
      }
    }
    .uploading-box-active {
      display: block;
      transform: translate(0px);
      opacity: 1;
    }
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 20px;
    button {
      width: 47%;
    }
    .btn-outline-dark {
      color: #95979b;
      border: 1px solid #95979b;
    }
    .btn-outline-dark:hover {
      color: white;
      background-color: #f44336;
      border: 1px solid #f44336;
    }
  }
  .btn-close {
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
  }
}
// profile picture modal end

// image cropper
.image-cropper-container {
  border-radius: 15px;
  border: 1.5px dashed #1d90f5;
  background-color: #1d90f519;
  width: 100%;
  overflow: hidden;
  object-fit: fill;
}
::ng-deep .ngx-ic-cropper:after {
  border: dashed 1.5px !important;
}
::ng-deep .ngx-ic-cropper {
  outline: rgba(0, 0, 0, 0.208) solid 100vw !important;
}
// image cropper end

// otp modal
::ng-deep .modal-dialog {
  .otp-modal-body {
    padding: 15px;
    margin-bottom: 44px;
    overflow: hidden;
    .otp-method-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -15px;
      padding-bottom: 80px;
      .otp-img-wrapper {
        img {
          width: 150px;
        }
      }
      .otp-text-wrapper {
        margin-top: 5px;
        width: 70%;
        text-align: center;
      }
    }
    span {
      color: #95979b;
      font-size: 14px;
    }
    .enter-otp-container {
      padding-bottom: 40px;
      .enter-otp-main-title {
        font-size: 15px;
        color: #7d7e80;
      }
      .otp-invalid-title {
        color: #f44336;
        margin-top: 10px;
      }
      .otp-input-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 30px 0px;
        input {
          max-width: 20%;
          height: 60px;
          background-color: #f3f6fb;
          border: none;
          border-radius: 15px;
          text-align: center;
          font-size: 25px;
          color: #7d7e80;
          caret-color: #94979d;
        }
        input:focus-visible {
          outline: unset;
          border: 2px solid #1d90f5;
        }
        .otp-invalid {
          outline: unset;
          border: 2px solid #f44336;
          color: #f44336;
        }
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
          display: none;
        }
      }
      a {
        color: #1d90f5;
      }
    }
  }
  .otp-modal-footer {
    padding: 20px;
    .otp-btn {
      width: 100%;
      border-radius: 10px;
      padding: 12px;
      color: black;
      font-size: 14px;
      background-color: #feae4f;
      svg {
        width: 16px;
        margin-left: 5px;
        margin-bottom: 2px;
      }
    }
    .otp-btn:nth-last-child(1) {
      margin-top: 8px;
    }
    .otp-btn-create {
      background-color: #1d90f5;
      color: white;
    }
  }
  .btn-close {
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
  }
}
// otp modal end

/* Shake animation */
.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* Shake animation end */

// profile picture modal end

// mobile designs
@media only screen and (max-width: 566px) {
  .form-left-container {
    padding: 59px 0px 130px 35px;
  }
  .common-form-control,
  .common-form-footer,
  .login-methods {
    width: 90%;
  }
  .common-form-footer {
    margin-top: 10px;
    .common-form-btn {
      padding: 13px 14px;
      font-size: 15px;
    }
  }
  ::ng-deep .modal-dialog {
    margin: 0 auto;
    width: 340px;
  }
  ::ng-deep .ngx-ic-cropper:after {
    border: dashed 2px white !important;
  }
  .image-cropper-container {
    border-radius: unset;
    border: unset;
    background-color: unset;
    width: 100%;
    overflow: hidden;
    object-fit: fill;
  }
}
// mobile designs end

// for otp modal
.a-disabled {
  pointer-events: none;
  cursor: default;
  color: #95979b !important;
}
