.chat-container {
  position: relative;
  height: 87vh;
  width: 100%;
  overflow-x: hidden;
  transition: height 0.5s;
}
// chat container
.chat-bubble-container {
  overflow-x: scroll;
  padding: 10px 0px 10px 0px;
  height: 90%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.chat-bubble-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.avatar-box img {
  width: 40px;
  border-radius: 50%;
}
.chat-box {
  margin-left: 2px;
  span {
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
  }
  .chat-content-box {
    background-color: #f5f5f5;
    width: 21.4vw;
    padding: 10px 10px 4px 12px;
    border-radius: 25px;
    margin-top: 3px;
    h4 {
      font-size: 15px;
      font-weight: 400;
    }
  }
}
.chat-bubble-send {
  margin-top: 10px;
  span,
  .chat-content-box {
    float: right;
  }
  .avatar-box {
    display: flex;
    align-items: flex-end;
  }
  span {
    margin-right: 10px;
    margin-top: 3px;
  }
  .chat-content-box {
    margin-top: 5px;
    color: white;
    background-color: #63a4ff;
    background-image: linear-gradient(320deg, #3a84f8 0%, #68a2ff 74%);
  }
}
::ng-deep .emoji-mart {
  width: auto !important;
}
.chat-input-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  .emoji-icon,
  .send-icon {
    width: 37px;
    height: 37px;
    color: white;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .emoji-icon {
    background-color: #feae4f;
    margin-left: 6px;
    svg {
      width: 20px;
    }
  }
  .send-icon {
    background-color: #3c84f8;
    right: 0;
    margin-right: 6px;
    svg {
      width: 16px;
    }
  }
  .chat-input {
    width: 100%;
    background-color: #f5f5f5;
    color: #444444;
    border: none;
    padding: 12px 50px 12px 52px;
    border-radius: 30px;
  }
  .chat-input:focus-visible {
    outline: none;
  }
}
// chat container end

// notification enabled
.notification-enabled-container {
  height: 75vh;
}
// notification enabled end

// mobile mode
.mobile-mode {
  height: 100%;
  padding: 5px;
  .chat-input-box {
    margin-bottom: 5px;
    width: 97%;
  }
  .chat-box {
    span {
      color: white;
      font-size: 14px;
    }
    .chat-content-box {
      width: 95%;
      padding-left: 15px;
      background-color: #f5f5f5bb;
      backdrop-filter: blur(7px);
      h4 {
        font-size: 16px;
      }
    }
  }
  .chat-bubble-send {
    .chat-content-box {
      background-color: #63a4ff82;
      background-image: linear-gradient(320deg, #3a83f883 0%, #68a2ff 74%);
      backdrop-filter: blur(7px);
    }
  }
}
// mobile mode end
