<div class="container-fluid room-container">
    <div class="row">
        <!-- sidebar -->
        <div class="col-sm-1 dock-container">

            <!-- internet speed -->
            <div class="net-speed-container">
                <div class="net-speed-circle text-center">
                    <p>8.7</p>
                    <span>mb/s</span>
                </div>
            </div>
            <!-- internet speed end -->

            <!-- main dock -->
            <div class="main-dock">
                <div class="logo-container dock-align-middle">
                    <img src="assets/img/logo.png" alt="">
                </div>
                <div class="dock-align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                </div>
            </div>
            <!-- main dock end -->

            <!-- video window mode switcher -->
            <div class="mode-switcher">
                <a (click)="modeSwitch('one')" class="dock-align-middle"
                    [class.mode-active]="windowModeStatus == 'one'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor"
                        class="bi bi-dash" viewBox="3 3 10 10">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                    </svg>
                </a>
                <a (click)="modeSwitch('two')" class="dock-align-middle"
                    [class.mode-active]="windowModeStatus == 'two'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="33" fill="currentColor"
                        class="bi bi-pause-fill" viewBox="3 3 10 10">
                        <path
                            d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z" />
                    </svg>
                </a>
                <a (click)="modeSwitch('three')" class="dock-align-middle"
                    [class.mode-active]="windowModeStatus == 'three'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-grid-1x2-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5z" />
                    </svg>
                </a>
                <a (click)="modeSwitch('four')" class="dock-align-middle"
                    [class.mode-active]="windowModeStatus == 'four'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-grid-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z" />
                    </svg>
                </a>
                <a (click)="modeSwitch('six')" class="dock-align-middle"
                    [class.mode-active]="windowModeStatus == 'five' || windowModeStatus == 'six'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-grid-3x3-gap-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z" />
                    </svg>
                </a>
            </div>
            <!-- video window mode switcher end -->

            <!-- page switcher -->
            <div class="page-switcher">
                <a routerLink="/home" routerLinkActive="active" class="dock-align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path
                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                    </svg>
                </a>
                <a routerLink="/room" routerLinkActive="active" class="dock-align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-camera-reels-fill" viewBox="0 0 16 16">
                        <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                        <path
                            d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z" />
                    </svg>
                </a>
                <a routerLink="/calender" routerLinkActive="active" class="dock-align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-calendar-day-fill" viewBox="0 0 16 16">
                        <path
                            d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16v9zm-4.785-6.145a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43c0 .238.192.425.43.425zm.336.563h-.672v4.105h.672V8.418zm-6.867 4.105v-2.3h2.261v-.61H4.684V7.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V9.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105z" />
                    </svg>
                </a>
            </div>
            <!-- page switcher end -->

        </div>
        <!-- sidebar end -->

        <!-- video container -->
        <div class="col-sm-8 video-call-container">

            <!-- video modes -->
            <div class="d-flex">
                <!-- layout 1 -->
                <div class="video-layout"
                    [ngClass]="{'layout-3-active layout-right-margin':windowModeStatus == 'five' || windowModeStatus == 'six', 'layout-1-active':windowModeStatus == 'one', 'layout-2-active':windowModeStatus == 'two' || windowModeStatus == 'three' || windowModeStatus == 'four'}">
                    <!-- video 1 -->
                    <div class="video video-1"
                        [ngClass]="{'video-3':windowModeStatus == 'four' || windowModeStatus == 'five' || windowModeStatus == 'six'}">
                        <div class="video-top-bar">
                            <div class="d-flex justify-content-between">
                                <div class="name-container"
                                    [class.mode-6-name]="windowModeStatus == 'five' || windowModeStatus == 'six'">
                                    <img src="assets/img/avatar.jpg" alt="">
                                    <span>You</span>
                                </div>
                                <!-- recording component -->
                                <app-recording [windowModeStatus]="windowModeStatus"></app-recording>
                                <!-- recording component end -->
                            </div>
                        </div>
                        <img class="video-call-wrapper" src="assets/img/video1.jpg" alt="">
                        <!-- call actions component -->
                        <app-call-actions></app-call-actions>
                        <!-- call actions component end -->
                    </div>
                    <!-- video 1 end -->
                    <!-- video 4 -->
                    <div class="video"
                        [ngClass]="{'video-3':windowModeStatus == 'four' || windowModeStatus == 'five' || windowModeStatus == 'six'}">
                        <div class="video-top-bar">
                            <div class="d-flex justify-content-between">
                                <div class="name-container"
                                    [class.mode-6-name]="windowModeStatus == 'five' || windowModeStatus == 'six'">
                                    <img src="assets/img/avatar.jpg" alt="">
                                    <span>Name Lastn</span>
                                </div>
                                <!-- recording component -->
                                <app-recording [windowModeStatus]="windowModeStatus"></app-recording>
                                <!-- recording component end -->
                            </div>
                        </div>
                        <img class="video-call-wrapper" src="assets/img/video4.jpg" alt="">
                        <!-- video bottom bar component -->
                        <app-video-bottom-bar [windowModeStatus]="windowModeStatus"></app-video-bottom-bar>
                        <!-- video bottom bar component end -->
                    </div>
                    <!-- video 4 end -->
                </div>
                <!-- layout 1 end -->

                <!-- layout 2 -->
                <div class="video-layout"
                    [ngClass]="{'layout-3-active': windowModeStatus == 'five' || windowModeStatus == 'six', 'layout-2-active layout-left-margin':windowModeStatus == 'two' || windowModeStatus == 'three' || windowModeStatus == 'four'}">
                    <!-- video 2 -->
                    <div class="video"
                        [ngClass]="{'video-2':windowModeStatus == 'two', 'video-3':windowModeStatus == 'three' || windowModeStatus == 'four' || windowModeStatus == 'five' || windowModeStatus == 'six'}">
                        <div class="video-top-bar">
                            <div class="d-flex justify-content-between">
                                <div class="name-container"
                                    [class.mode-6-name]="windowModeStatus == 'five' || windowModeStatus == 'six'">
                                    <img src="assets/img/avatar.jpg" alt="">
                                    <span>Name Lastn</span>
                                </div>
                                <!-- recording component -->
                                <app-recording [windowModeStatus]="windowModeStatus"></app-recording>
                                <!-- recording component end -->
                            </div>
                        </div>
                        <img class="video-call-wrapper" src="assets/img/video2.jpg" alt="">
                        <!-- video bottom bar component -->
                        <app-video-bottom-bar [windowModeStatus]="windowModeStatus"></app-video-bottom-bar>
                        <!-- video bottom bar component end -->
                    </div>
                    <!-- video 2 end -->
                    <!-- video 3 -->
                    <div class="video"
                        [ngClass]="{'video-3':windowModeStatus == 'three' || windowModeStatus == 'four' || windowModeStatus == 'five' || windowModeStatus == 'six'}">
                        <div class="video-top-bar">
                            <div class="d-flex justify-content-between">
                                <div class="name-container"
                                    [class.mode-6-name]="windowModeStatus == 'five' || windowModeStatus == 'six'">
                                    <img src="assets/img/avatar.jpg" alt="">
                                    <span>Name Lastn</span>
                                </div>
                                <!-- recording component -->
                                <app-recording [windowModeStatus]="windowModeStatus"></app-recording>
                                <!-- recording component end -->
                            </div>
                        </div>
                        <img class="video-call-wrapper" src="assets/img/video3.jpg" alt="">
                        <!-- video bottom bar component -->
                        <app-video-bottom-bar [windowModeStatus]="windowModeStatus"></app-video-bottom-bar>
                        <!-- video bottom bar component end -->
                    </div>
                    <!-- video 3 end -->
                </div>
                <!-- layout 2 end -->

                <!-- layout 3 -->
                <div class="video-layout"
                    [ngClass]="{'layout-3-active layout-left-margin':windowModeStatus == 'five' || windowModeStatus == 'six'}">
                    <!-- video 5 -->
                    <div class="video" [ngClass]="{'video-3':windowModeStatus == 'five' || windowModeStatus == 'six'}">
                        <div class="video-top-bar">
                            <div class="d-flex justify-content-between">
                                <div class="name-container"
                                    [class.mode-6-name]="windowModeStatus == 'five' || windowModeStatus == 'six'">
                                    <img src="assets/img/avatar.jpg" alt="">
                                    <span>Name Lastn</span>
                                </div>
                                <!-- recording component -->
                                <app-recording [windowModeStatus]="windowModeStatus"></app-recording>
                                <!-- recording component end -->
                            </div>
                        </div>
                        <img class="video-call-wrapper" src="assets/img/video5.jpg" alt="">
                        <!-- video bottom bar component -->
                        <app-video-bottom-bar [windowModeStatus]="windowModeStatus"></app-video-bottom-bar>
                        <!-- video bottom bar component end -->
                    </div>
                    <!-- video 5 end -->
                    <!-- video 6 -->
                    <div class="video" [ngClass]="{'video-3':windowModeStatus == 'six'}">
                        <div class="video-top-bar">
                            <div class="d-flex justify-content-between">
                                <div class="name-container"
                                    [class.mode-6-name]="windowModeStatus == 'five' || windowModeStatus == 'six'">
                                    <img src="assets/img/avatar.jpg" alt="">
                                    <span>Name Lastn</span>
                                </div>
                                <!-- recording component -->
                                <app-recording [windowModeStatus]="windowModeStatus"></app-recording>
                                <!-- recording component end -->
                            </div>
                        </div>
                        <img class="video-call-wrapper" src="assets/img/video6.jpg" alt="">
                        <!-- video bottom bar component -->
                        <app-video-bottom-bar [windowModeStatus]="windowModeStatus"></app-video-bottom-bar>
                        <!-- video bottom bar component end -->
                    </div>
                    <!-- video 6 end -->
                </div>
                <!-- layout 3 end -->

            </div>
            <!-- video modes end -->

        </div>
        <!-- video container end -->

        <!-- right section -->
        <div class="col-sm-3 chat-participants-container">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                <mat-tab label="Participants">
                    <div class="participants-container">
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">You</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="participant d-flex">
                            <div class="participant-avatar">
                                <img src="assets/img/avatar.jpg" alt="">
                            </div>
                            <div class="participant-right d-flex justify-content-between align-items-center">
                                <div class="participant-name">Name Surname</div>
                                <div class="participant-icons d-flex">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z" />
                                            <path
                                                d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Chats">
                    <div class="chat-container">
                        <!-- chat bubble container -->
                        <div class="chat-bubble-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                            <!-- chat bubble -->
                            <div class="chat-bubble">
                                <div class="d-flex">
                                    <div class="avatar-box">
                                        <img src="assets/img/avatar.jpg" alt="">
                                    </div>
                                    <div class="chat-box">
                                        <span>Name</span>
                                        <div class="chat-content-box">
                                            <h4>weferf ergerg ergtr..</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- chat bubble end -->
                            <!-- chat bubble -->
                            <div class="chat-bubble">
                                <div class="d-flex">
                                    <div class="avatar-box">
                                        <img src="assets/img/avatar.jpg" alt="">
                                    </div>
                                    <div class="chat-box">
                                        <span>Name</span>
                                        <div class="chat-content-box">
                                            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, quas!
                                                Blanditiis, doloribus. Quo non vitae magnam saepe incidunt.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- chat bubble end -->
                            <!-- chat bubble -->
                            <div class="chat-bubble">
                                <div class="d-flex">
                                    <div class="avatar-box">
                                        <img src="assets/img/avatar.jpg" alt="">
                                    </div>
                                    <div class="chat-box">
                                        <span>Name</span>
                                        <div class="chat-content-box">
                                            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, quas!
                                                Blanditiis, doloribus. Quo non vitae magnam saepe incidunt.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- chat bubble end -->
                            <!-- chat bubble send -->
                            <div class="chat-bubble-send">
                                <div class="d-flex">
                                    <div class="chat-box">
                                        <div class="chat-content-box">
                                            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, quas!
                                                Blanditiis, doloribus. Quo non vitae magnam saepe incidunt.</h4>
                                        </div>
                                        <div class="chat-content-box">
                                            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, quas!
                                                Blanditiis, doloribus. Quo non vitae magnam saepe
                                                incidunt.
                                            </h4>
                                        </div>
                                        <span>You</span>
                                    </div>
                                    <div class="avatar-box">
                                        <img src="assets/img/avatar.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- chat bubble send end -->
                        </div>
                        <!-- chat bubble container end -->

                        <!-- input box -->
                        <!-- emoji picker -->
                        <emoji-mart [isNative]="true" *ngIf="emojiPicker" (emojiClick)="addEmoji($event)"
                            [style]="{ position: 'absolute', bottom: '50px', }" [perLine]=8 [showPreview]=false>
                        </emoji-mart>
                        <!-- emoji picker end -->
                        <div class="chat-input-box">
                            <a #emojiPickerButton (click)="emojiPickerSwitch()" class="emoji-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-emoji-smile"
                                    viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                                </svg>
                            </a>
                            <a class="send-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-send-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                                </svg>
                            </a>
                            <form [formGroup]="messageForm">
                                <input formControlName="message" class="chat-input" type="text"
                                    placeholder="Type a message...">
                            </form>
                        </div>
                        <!-- input box end -->
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- right section end -->
    </div>
</div>