/* You can add global styles to this file, and also import other style files */
@import "@ctrl/ngx-emoji-mart/picker";

a {
  text-decoration: none !important;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins" !important;
}

html,
body {
  height: 100%;
}

.vision-btn {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500 !important;
  border: 1.5px solid #f3100a;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.vision-btn-dark {
  background-color: #14141f00;
  color: #f3100a;
}
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// @media only screen and (max-width: 566px) {
//   html,
//   body {
//     height: 100svh !important;
//   }
// }

// custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// custom scrollbar end
