<!-- common modal -->
<div class="common-modal-container" *ngIf="modalBlur" [class.common-modal-exit]="modalBlurExit">
    <div class="common-modal">
        <ng-container [ngSwitch]="modalContent">
            <app-chats *ngSwitchCase="'chats'" [isMobile]="isMobile"></app-chats>
            <app-participants *ngSwitchCase="'participants'" [isMobile]="isMobile"></app-participants>

            <div *ngSwitchCase="'comming-present'" class="text-center comming-soon">
                <h1>Share Screen</h1>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/img/comming-soon.png" alt="">
                </div>
            </div>

            <div *ngSwitchCase="'comming-board'" class="text-center comming-soon">
                <h1>White Board</h1>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="assets/img/comming-soon.png" alt="">
                </div>
            </div>
        </ng-container>
    </div>
</div>
<!-- common modal exit -->