.notification {
  margin-top: -78px;
  margin-bottom: 16px;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 10px;
  overflow: hidden;
  animation: fadeInFromBottom 0.5s !important;
  transition: margin-bottom 0.5s;
  .notification-avatar img {
    width: 40px;
    border-radius: 50%;
  }
  .middle-container {
    padding-left: 10px;
    div {
      margin-bottom: -6px;
    }
    label {
      font-size: 12px;
      margin-top: -10px;
      color: #798495;
    }
  }
  .right-container {
    a {
      padding: 5px 7px 7px 7px;
      background-color: black;
      margin-left: 10px;
      border-radius: 50%;
      svg {
        width: 26px;
        color: white;
      }
    }
    a:nth-child(1) {
      svg {
        width: 28px;
      }
      padding: 5px 6px 6px 6px;
      background-color: #df6a61;
    }
    .left-meeting {
      color: red;
      width: 25px;
      margin-right: 10px;
    }
    .joined-meeting {
      color: #3a84f8;
      width: 25px;
      margin-right: 10px;
    }
  }
}
.notification-enabled {
  margin-top: 0;
  margin-bottom: 10px;
  animation: fadeInFromTop 0.5s !important;
}

@keyframes fadeInFromTop {
  0% {
    margin-top: -78px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes fadeInFromBottom {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -78px;
  }
}
